<div class="product-page">
    <div class="product-images">
        {% for image in product.images %}
            <img src="{{ image.src | img_url: 'large' }}" alt="{{ product.title }}" class="product-thumbnail">
        {% endfor %}
    </div>
    
    <div class="product-details">
        <h1>{{ product.title }}</h1>
        <p class="product-price">{{ product.price | money }}</p>
        
        <p class="product-description">{{ product.description }}</p>

        <div class="product-material">
            <h3>Material</h3>
            <span>Cotton</span>
        </div>

        <div class="product-colors">
            <h3>Color</h3>
            <div class="color-options">
                <span class="color-swatch" style="background-color: red;"></span>
                <span class="color-swatch" style="background-color: black;"></span>
                <span class="color-swatch" style="background-color: white;"></span>
                <span class="color-swatch" style="background-color: maroon;"></span>
            </div>
        </div>

        <form action="/cart/add" method="post" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ product.variants.first.id }}">
            <div class="quantity-selector">
                <button type="button" class="quantity-minus">-</button>
                <input type="number" name="quantity" value="1" min="1" class="quantity-input">
                <button type="button" class="quantity-plus">+</button>
            </div>
            <button type="submit" class="btn add-to-cart">Add To Cart</button>
            <button type="button" class="btn buy-now">Buy It Now</button>
        </form>

        <div class="estimated-delivery">
            <p>Estimated delivery: Jan 23 - Jan 26</p>
            <p>Free Shipping & Returns: On orders above $79</p>
        </div>

        <div class="payment-methods">
            <img src="path_to_payment_icon_visa" alt="Visa">
            <img src="path_to_payment_icon_mastercard" alt="MasterCard">
            <img src="path_to_payment_icon_amex" alt="Amex">
            <img src="path_to_payment_icon_paypal" alt="PayPal">
        </div>
    </div>
</div>